/* Main, contact, messages style start */

main{
    display: flex;
    position: relative;
}


.message--container{
    width: 100%;
    
}

 
/* Welcoming message style */
.welcoming-msg{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    height: 100%;
    font-size: 1.5rem;
    
}
.welcoming-msg h2{
    margin-top: 6rem;

}
.welcoming-msg h3{
    
}
