
.contacts-section{
    background-color: #f0f0f0 !important;
    /* position: relative; */
    /* width: 100%; */
    height: calc(100vh - 5rem);
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
}

.search-form-container{
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
}
.search-form-container > form > input{
    display: block;
    width: 98%;
    height: 2.5rem;
    padding: 0.25rem 0.5rem;
    font-size: 1.3rem;
    border-radius: 10px;
    outline: 1px solid black;
    margin: 0 auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem ;
    
}

.contact-chat{
    display: flex;
    align-items: center;
    gap: 0 2rem;
    padding: 0.5rem;
}
.contact-chat:hover{
    background-color: white;
    cursor: pointer;

}
.img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.name-msg{
    width: 10rem;
}
.name-msg > *{
    padding: 0;
    margin: 0;
}
.no-conversation{
    display: block;
    text-align: center !important;
    margin-top: 1.5rem;
    font-size: 1.2rem;
}

/* Responsiveness */
.menu-displayer{
    display: none;

}
@media screen and (max-width: 992px)  {
    .contacts-section{
        position: relative; 
        width: 100%;
        padding-top: 3rem;
    }
    
    .menu-displayer{
        display: block;
        font-size: 2.5rem;
        margin-left: 0.5rem;
        background-color: transparent;
        cursor: pointer;
        position: absolute;
        top: -0.75rem;
        left: 0.5rem;
        z-index: 44;
    }
    
    .menu{
        display: none;
        transition: display 0.5s ease;
    } 
    .nonActive{
        display: block;
        transition: display 0.5s ease;
    }
}

@media screen and (max-width: 600px)  {
    .sm-device-view{
        width: 100vw;
    }
}
