
.contact_container{
    background-color: #eee;
    padding: 0.5rem 0;
}

.contact-chat{
    display: flex;
    align-items: center;
    gap: 0 2rem;
    padding: 0.5rem;
}
.contact-chat:hover{
    background-color: white;
    cursor: pointer;

}
.img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.name-msg{
    width: 10rem;
}
.name-msg > *{
    padding: 0;
    margin: 0;
}

